<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>GetStats</servlet-name>
        <servlet-class>
            com.skburgart.rwr.servlet.GetStats
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetStats</servlet-name>
        <url-pattern>/GetStats</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>
            com.skburgart.rwr.servlet.HibernateListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>
            com.skburgart.rwr.update.UpdateListener
        </listener-class>
    </listener>
</web-app>
